th, td {
  text-align: center;
  vertical-align: center;
}

.btn-link-hover {
  text-decoration: underline;
	&:hover, &:focus {
		color: #007bff;
    text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
}
.navbar-btn-link-hover {
	&:hover, &:focus {
		color: #007bff;
	}
	&:focus {
		outline: none;
	}
}
